
/* CSS styling reset code */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Code */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

.search-result-box {
    outline: none;
    color: #585858;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 0.8rem;
    margin: 1rem;
    background-color: #e2e3e4;
    cursor: pointer;
    flex: 1;
}

.search-result-box:focus {
    cursor: text;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 0 30px;
}

.search-result-header {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border: 3px solid #1e1d1d;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    color: #1e1d1d;
}

.search-result-header:hover {
    background-color: #1e1d1d;
    color: #fbfbfb;
}

#search-btn-search-result {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px 30px;
    width: fit-content;
    background-color: #202425bc;
    color: #fbfbfb;
    transition: 0.5s;
}

#search-btn-search-result:hover {
    /* transform: scale(1.1); */
    background-color: #1e1d1d;
}

#main-field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gallary-class {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100%-20px);
    margin: 0px 40px;
    padding: 40px 0 20px 0;
    gap: 20px;
}

#gallary-class-nxt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100%-20px);
    margin: 0px 40px;
    padding: 0px 0 20px 0;
    gap: 20px;
}

.gallary-image {
    background-color: #e2e3e4;
    height: 350px;
    width: 350px;
    border-radius: 8px;
    object-fit: cover;
    transition: 0.5s;
}

.gallary-image:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.load-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 60px;
    width: fit-content;
    background-color: #202425bc;
    color: #fbfbfb;
    transition: 0.5s;
    margin: 20px 0 10px 0;
    /* font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #192f2e;
    border: none;
    padding: 10px 20px;
    margin: 20px 0 10px 0;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    background-color: #e2e3e4;
    transition: 0.5s; */
}

.load-btn:hover {
    background-color: #1e1d1d;
    /* background-color: #9b9a9a; */
}

.custom-scroll {
    overflow-x: auto;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}
  
.custom-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}
  
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #dadada;
    transition: 500ms;
}
  
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #9b9a9a;
}




/* Image Pop Up */

.image-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    background: #f9f9f9;
    box-shadow: 0 5px 50px #00000080;
    border-radius: 10px;
    transition: 0.5s;
    z-index: 10;
}

.close-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff4f4f;
    border: none;
    cursor: pointer;
}

.download-btn {
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    text-transform: capitalize;
    padding: 10px 20px;
    background: #192f2e;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.large-img {
    height: 70%;
    width: auto;
    max-width: 70%;
    object-fit: cover;
    border-radius: 10px;
}

.hide-popup {
    display: none;
    opacity: 0;
}

.load-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}


/* For smaller screens */

@media (max-width:600px) {
    #gallary-class {
        width: calc(100%-10px);
    }

    .gallary-image {
        width: 300px;
        height: 300px;
    }

    #search-btn-search-result {
        display: none;
    }

    .form-section {
        flex-direction: column;
    }

    .search-result-box {
        width: 100%;
        /* text-align: center; */
    }

    #gallary-class {
        padding-top: 10px;
    }


}

@media (max-width:400px) {

    #gallary-class {
        width: calc(100%-10px);
    }

    .gallary-image {
        width: 270px;
        height: 270px;
    }
}